Header {
    background-color: var(--background-color);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;


}

nav #search-bar input {
    flex-grow: 1;
    margin: 0 20px;
    width: 300px;
    height: 25px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: none;
    border-top: none;
}

nav #search-bar button {
    background-color: transparent;
    border: none;

    position: relative;
    left: -45px;
    top: 2px;
}

nav #search-bar button svg {
    color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex; 
    gap: 20px;
    margin-top: 6px;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}