

Footer {
    background-color: var(--primary-color);
    color: var(--text-light-color);
}

Footer a, .social-network ul a {
    text-decoration: none;
    color: var(--text-light-color);
}

Footer a:hover {
    text-decoration: underline;
}

Footer section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.8;
    line-height: 25px;
}

Footer .coordonnées li:first-child {
    margin-bottom: 20px;
}

.bubble {
    width: 1200px;
    margin: 0 auto;
    height: 30px;
    background-color: var(--text-light-color);
    border-radius: 0 0 25px 25px;
    margin-bottom: 1rem;
}
Footer .coordonnées {
    margin-top: 40px;
}
Footer li, .social-network ul li {
    list-style-type: none;

}
Footer .coordonnées li {
    margin-right: 20px;
}

Footer svg {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    position: relative;
    top: 6px;
}


Footer .coordonnées li:last-child {
    margin-left: 20px;
}

Footer .bottom-footer {
    border-top: 1px solid var(--text-light-color);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

Footer .bottom-footer ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}


.social-network {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    margin-bottom: 0;
    padding: 0.5rem 0;
}

.social-network ul {
    display: flex;
}

.social-network li {
    width: 20px;
    height: 20px;
    margin: 15px;
    padding: 2px;
}

.social-network li {
    background-color: var(--text-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-network svg {
    color: white;
    width: 13px;
}

.social-network li:first-child {
    border-radius: 50%;
}

.social-network li:nth-child(3) {
    border-radius: 5px;
    height: 18px;
    width: 25px;
}

.social-network li:hover {
    background-color: var(--primary-color);
}