Header {
    background-color: var(--background-color);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;


}

nav #search-bar {
    position: relative;
}

nav #search-bar > div {
    display: flex;
    align-items: center;
}

nav #search-bar input {
    flex-grow: 1;
    margin: 0 20px;
    width: 300px;
    height: 25px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: none;
    border-top: none;
    padding-left: 10px;
}

nav #search-bar input:focus {
    outline: none;
    border-bottom-color: var(--primary-color-darken);
    border-right-color: var(--primary-color-darken);
}

nav #search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: -45px;
    top: 2px;
    transition: all 0.2s ease;
}

nav #search-bar button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

nav #search-bar button:hover:not(:disabled) {
    transform: scale(1.1);
}

nav #search-bar button svg {
    color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex; 
    gap: 20px;
    margin-top: 6px;
    font-size: small;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}