:root {
  --primary-color: #0074C7;
  --primary-color-darken: #00497c;
  --background-color: #F1F8FC;
  --text-color: #384050;
  --red-color: #cd2c2e;
  --green-color: #82b864;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}
