:root {
  --primary-color: #0074C7;
  --primary-color-darken: #00497c;
  --background-color: #F1F8FC;
  --text-color: #384050;
  --text-light-color: #F1F8FC;
  --red-color: #cd2c2e;
  --green-color: #82b864;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: graphik, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-weight: 600;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}
